body{
    background-image: url(Secret\ beach\ Maui.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(245, 242, 239);
    font-weight: 200;
    font-family: 'Lucida Sans';
    

    
}
button{
    background-color: rgb(17, 17, 65);
    color: aliceblue;
    font-size: large;
    font-family: Georgia;
    text-align: center;
    outline-color: aqua;
    border-radius: 5px;
    height: 35px;
    width: 125px;
    display: flex;
    margin-top: 25px;
}
#input_firstnm {
   height: 40px;
   width: 250px;
   padding: 0 25px;
   font-size: 14px;
   border-radius: 5px;
   border-color: blanchedalmond;
   text-align: center;  
}
#input_lastnm{
   height: 40px;
   width: 250px;
   padding: 0 25px;
   font-size: 14px;
   border-radius: 5px;
   border-color: blanchedalmond;
   text-align: center;  
}
#input_city{
    height: 40px;
   width: 250px;
   padding: 0 25px;
   font-size: 14px;
   border-radius: 5px;
   border-color: blanchedalmond;
   text-align: center;   
}
#input_state{
    height: 40px;
    width: 250px;
    padding: 0 25px;
    font-size: 14px;
    border-radius: 5px;
    border-color: blanchedalmond;
    text-align: center;   
}
#input_zipc{
    height: 40px;
   width: 250px;
   padding: 0 25px;
   font-size: 14px;
   border-radius: 5px;
   border-color: blanchedalmond;
   text-align: center;  
}
#firstnm_label{
    font-weight: 50px;
    font-size: large;
    font-family:'Lucida Grande';
    font-weight: bolder;
}
#lastnm_label{
    font-weight: 50px;
    font-size: large;
    font-family:'Lucida Grande';
    font-weight: bolder;
}
#city_label{
    font-weight: 50px;
    font-size: large;
    font-family:'Lucida Grande';
    font-weight: bolder;
}
#state_label{
    font-weight: 50px;
    font-size: large;
    font-family:'Lucida Grande';
    font-weight: bolder; 
}
#zipCode_label{
    font-weight: 50px;
    font-size: large;
    font-family:'Lucida Grande';
    font-weight: bolder; 
}

h1{
    font-family: 'Times New Roman';
    color: rgb(8, 51, 23);
    margin-top: 50px;
    text-align: center;
}
h3{
    text-align: left;
    border-radius: 30%;
    border-color: black;
    border-style: block;
}
#turleSwimming{
    border-color: white;
}